{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Gruppa uchun To'lovni amalaga oshirish
 {% endblock %}
{% block head_title %}
    To'lovni qilish
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-payment" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4">
                            {% bootstrap_field form.group %}
                        </div>

                        <div class="col-md-4">
                            {% bootstrap_field form.period %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.payment_date %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.payment_time %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.amount %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.payment_type %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.status %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.price_month %}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="card-action right-align">

                              <button type="submit" class="btn btn-block btn-success btn-sm">
                                <i class="fas fa-edit"></i> Saqlash
                              </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
