{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Talabalar {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}

{% block content %}

<div class="margin">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">Oylar</button>
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      {% for data in dict %}
                      <a class="dropdown-item" href="{% url 'dashboard:period-list-month' pk=data.id %}">{{data.oy}}</a>
                      <div class="dropdown-divider"></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
<div class="row">


{% if money == 'money' %}
<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  {% for data in dict %}
                  {% if data.id == id %}
                <h3 class="card-title"><h3>{{data.oy}} oyi uchun oylik to'lovlar</h3></h3>
                  {% endif %}
                  {% endfor %}
                <div class="card-tools">
              </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap" border="1">
                   <thead>
                      <tr>
                        <th><h5>id</h5></th>
                        <th><h5>Familiya, Ism </h5></th>
                        <th><h5>Gruppa nomi </h5></th>
                        <th><h5>O`qituvchilari</h5></th>
                        <th><h5>Oy davomiyligi</h5></th>
                        <th><h5>To'lov qilingan sana</h5></th>
                        <th><h5>To'lov qilinishi kerak</h5></th>
                        <th><h5>To'lov miqdori</h5></th>
                        <th> <h5>Qarz</h5> </th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in students %}
                    <tr>
                      <td><h5>{{ data.id_student }}</h5></td>
                      <td><h5>{{ data.full_name }}</h5></td>
                      <td><h5>{{ data.group_name }}</h5></td>
                      <td><h5>{{ data.teacher_1}} || {{ data.teacher_2}}</h5></td>
                      <td><h5>{{ data.start_date}} || {{ data.end_date}}</h5></td>
                      <td><h5>{{ data.payment_date}}</h5></td>
                      <td><h5>{{ data.price_month }}</h5></td>
                      <td><h5>{{ data.amount }}</h5></td>
                      {% for i in debt %}
                        {% if i.id == data.id_student and i.group_id == data.group_id %}
                      <td><h5>{{i.amount}}</h5></td>
                        {% endif %}
                      {% endfor %}
                    </tr>

                  {% endfor %}
                </table>

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
            </div>
        <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap" border="1">
                   <thead>
                      <tr>
                        <th><h5>Keladigan summa</h5></th>
                        <th><h5>kelgan summa</h5></th>
                        <th><h5>Qarz</h5></th>
                      </tr>
                    </thead>
                  <tbody>
                    <tr>
                      <td><h5>{{ money_month}} so'm</h5></td>
                      <td><h5>{{ money_amount }} so'm</h5></td>
                      <td><h5>{{ qarz }} so'm</h5></td>
                    </tr>
                </table>

              </div>
            <!-- /.card -->

          </div>
</div>
{% endif %}

{% endblock %}