{% extends "dashboard/base.html" %}
{% block head_title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
<!--          <div class="col-lg-2 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-info">-->
<!--              <div class="inner" style='padding-left:40px;  text-align:center;'>-->
<!--                <h3>{{courses_count.count}}</h3>-->
<!--                <h1 >Kurslar</h1>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-bag"></i>-->
<!--              </div>-->
<!--              <a href="{% url 'dashboard:course-list'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner" style='padding-left:40px;  text-align:center;'>
                <h3>{{groups_count.count}}</h3>

                <h1>Guruhlar</h1>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'dashboard:group-list'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner" style='padding-left:40px;  text-align:center;'>
                <h3>{{students_count.count}}</h3>

                <h1>Tarbiyalanuvchilar</h1>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="{% url 'dashboard:student-list'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- ./col -->
        </div>

{% endblock %}