<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/plugins/fontawesome-free/css/all.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/plugins/ionic/css/ionic.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/adminlte.min.css' %}" />
</head>
<body class="hold-transition login-page">


    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>ProNeo</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Администрация ProNeo</p>

                  <form method="post" id="login-form" action="{% url 'dashboard:login' %}">
                      {% csrf_token %}
        <div class="input-group mb-3">

           <input class="form-control {% if form.errors %} parsley-error {% endif %}" type="email" id="username" required="" placeholder="Enter your email" name="username">



          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>

        </div>
        <div class="input-group mb-3">
            <input class="form-control" type="password" required="" id="password" placeholder="Enter your password"  name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
       {% if form.errors %}
         <div class="alert alert-danger alert-dismissible">
            Login Or Password invalid
        </div>
          {% endif %}
        <div class="row">
          <div class="col-8">

          </div>
          <!-- /.col -->
          <div class="col-4">
              <input type="hidden" name="next" value="/dashboard"/>
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>


            </div>
        </div>

    </div>
    <script type="text/javascript" src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>



</body>
</html>