{% extends "dashboard/base.html" %}
{% block title %}
  Hodim - {{ employee.firstname}} {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block head_title %}Hodim - {{ employee.firstname}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'dashboard:employee-list' %}" class="fc-prev-button btn btn-primary"> Hodimlar</a>
    </div>
</div>
<div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-body p-0">

                  <div class="responsive-table-plugin">
                           <table class="table table-striped mb-0">
                               <tbody>
                               <tr>
                                   <th>ID</th>
                                   <td>{{ employee.id }}</td>
                               </tr>
                               <tr>
                                   <th>Ism</th>
                                   <td>{{ employee.firstname }}</td>
                               </tr>
                               <tr>
                                   <th>Familiya</th>
                                   <td>{{ employee.lastname }}</td>
                               </tr>
                               <tr>
                                   <th>Otasini ismi</th>
                                   <td>{{ employee.middlename }}</td>
                               </tr>
                               <tr>
                                   <th>Jinsi</th>
                                   <td>
                                       {% if employee.gender == True %}
                                       Erkak
                                       {% else %}
                                       Ayol
                                       {% endif %}
                                   </td>
                               </tr>
                               <tr>
                                   <th>Passport</th>
                                   <td>{{ employee.pass_serial }}</td>
                               </tr>
                               <tr>
                                   <th>Tug‘ilgan kun</th>
                                   <td>{{ employee.birthday }}</td>
                               </tr>
                               <tr>
                                   <th>Viloyat/shahar</th>
                                   <td>{{ employee.region }}</td>
                               </tr>
                               <tr>
                                   <th>Tuman</th>
                                   <td>{{ employee.district }}</td>
                               </tr>
                               <tr>
                                   <th>Manzil</th>
                                   <td>{{ employee.address }}</td>
                               </tr>
                               <tr>
                                   <th>Lavozim</th>
                                   <td>{{ employee.position }}</td>
                               </tr>
                               <tr>
                                   <th>Telefon raqam</th>
                                   <td>{{ employee.phone_number }}</td>
                               </tr>
                               <tr>
                                   <th>Email</th>
                                   <td>{{ employee.email }}</td>
                               </tr>
                               <tr>
                                   <th>Ishga kelgan vaqt</th>
                                   <td>{{ employee.join_date }}</td>
                               </tr>



                               </tbody>
                           </table>
                           <div class="card-footer clearfix">
                                <div class="float-left">
                                    <div class="btn-toolbar">
                                        <div class="timeline-footer">
                                                <a  class="btn  btn-success btn-sm" href="{% url 'dashboard:employee-edit' pk=employee.pk %}"> <i class="fas fa-edit"></i> O‘zgartirish</a>
                                                <a  class="btn btn-danger btn-sm" href="{% url 'dashboard:employee-delete' pk=employee.pk %}"><i class="fas fa-trash"></i> O‘chirish</a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
             </div>
         </div>
     </div>
</div>
{% endblock %}