{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
  {% if employee.pk %}
    Hodim ma'lumotlari
  {% else %}
    Yangi hodim qo‘shish
  {% endif %}
{% endblock %}
{% block head_title %}
    {% if employee.pk %}
        Hodim ma'lumotlari
    {% else %}
        Yangi hodim qo‘shish
    {% endif %}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form layout='inline' %}

                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.firstname %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.lastname %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.middlename %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.email %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.phone_number %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.birthday %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.gender %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.pass_serial %}
                        </div>
                        <div class="form-group col-md-4">
                            <dif class="form-group">
                            <label for="position">Lavozim</label>
                            <select class="form-control select2"  name="position" title required id="position">
                                <option value selected>--------------</option>
                                 {% for data in position %}
                                <option value="{{data.id}}">{{data}}</option>
                                 {% endfor %}
                             </select>
                            </dif>
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.join_date %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.status %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.region %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.district %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.is_student %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            {% if employee.pk %}
                              <button type="submit" class="btn btn-block btn-success btn-sm">
                                <i class="fas fa-edit"></i> Saqlash
                              </button>
                            {% else %}
                              <button type="submit" class="btn btn-primary">
                                <i class="fas fa-plus-circle"></i>Qo‘shish
                              </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}