{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Hodimlar {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Hodimlar</h3>
                <div class="card-tools">
                <a type="button" href="{% url 'dashboard:employee-add' %}" class="btn btn-block btn-primary">Qo‘shish<i class="fas fa-plus"></i></a>
              </div>

              </div>
                {% if employees %}
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Familiya, Ism </th>
                        <th>Lavozim </th>
                        <th>Status </th>
                        <th>Actions </th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in employees %}
                    <tr>
                      <td>{{ data.id }}</td>
                      <td><a href="{% url 'dashboard:employee-details' pk=data.id %}">{{ data.full_name }}</a></td>
                      {% if data.position_name is None %}
                      <td><i class="fa fa-minus"></i></td>
                      {% else%}
                      <td>  {{ data.position_name }}  </td>
                      {% endif %}
                      {% if data.status == 1 %}
                      <td><i class="btn btn-warning btn-sm">Faol emas</i></td>
                      {% elif data.status == 2 %}
                      <td><i class="btn btn-success btn-sm">Faol</i></td>
                      {% elif data.status == 3 %}
                      <td><i class="btn btn-success btn-sm">Mavjud emas</i></td>
                      {% else %}
                      <td><i class="btn btn-danger btn-sm">Yangi qo`shilmoqchi</i></td>
                      {% endif %}
                      <td>
                          <a data-toggle="tooltip" data-placement="top" title="edit" href="{% url 'dashboard:employee-edit' pk=data.id %}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                          <a data-toggle="tooltip" data-placement="top" title="view detail" href="{% url 'dashboard:employee-details' pk=data.id %}" class="btn btn-info btn-sm"><i class="fas fa-user"></i></a>
                          <a href="javascript:void(0)"  data-toggle="modal"  data-placement="top" title="Delete" class="btn btn-danger btn-sm" data-url="{% url 'dashboard:employee-delete' pk=data.id %}" data-target="#deleteItemModal" data-message="{{ data.full_name }} ismli xodimni o'chirishni tasdiqlaysizmi?"><i class="fa fa-trash-alt"></i></a>                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>
{% endblock %}