{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'dashboard:dashboard_index'%}" class="brand-link">
      <img src="{% static 'dashboard/img/kindergarten.jpg' %}"  alt="ProNeo Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Kindergarten</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dashboard/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="Admin Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin Manager</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="{% url 'dashboard:dashboard_index' %}" class="nav-link {% if section == 'home' %} active {% endif %}">
              <i class="fa fa-th"></i>
              <p>
                DASHBOARD
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:monitoring' %}" class="nav-link {% if section == 'monitoring' %} active {% endif %}">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <p>
                MONITORING
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:group-list' %}" class="nav-link {% if section == 'group' %} active {% endif %}">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>
                GURUHLAR
              </p>
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a href="{% url 'dashboard:course-list' %}" class="nav-link {% if section == 'course' %} active {% endif %}">-->
<!--              <i class="fa fa-book" aria-hidden="true"></i>-->
<!--              <p>-->
<!--                KURSLAR-->
<!--              </p>-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            <a href="{% url 'dashboard:student-list' %}" class="nav-link {% if section == 'student' %} active {% endif %}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <p>
                Tarbiyalanuvchilar
              </p>
            </a>
          </li>

<!--          Boshlandi-->
          <li class="nav-item">
            <a href="{% url 'dashboard:times-list' %}" class="nav-link {% if section == 'times' %} active {% endif %}">
              <i class="fa fa-clock"></i>
              <p>
                Davomat
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:student-list2' %}" class="nav-link {% if section == 'talaba' %} active {% endif %}">
              <i class="fa fa-people-arrows"></i>
              <p>
                Kutilayotgan tarbiyalanuvchilar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:teacher' %}" class="nav-link {% if section == 'teachers' %} active {% endif %}">
              <i class="fa fa-book" aria-hidden="true"></i>
              <p>
                Tarbiyachi ma'lumotlari
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:payment-period' %}" class="nav-link {% if section == 'period' %} active {% endif %}">
              <i class="fa fa-money-check"></i>
              <p>
                Periodlar
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview {% if section == 'company' %} menu-open {% endif %}">
            <a href="#" class="nav-link">
              <i class="fa fa-bookmark"></i>
              <p>
                Tashkilot
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'dashboard:company-profile' %}" class="nav-link {% if active == '4' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tashkilot</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


