<div class="input-group timepick" id="{{ widget.attrs.id }}time" data-target-input="nearest">
  <input type="text" class="form-control timepicker-input" name="{{ widget.name }}"{% if widget.value != None and widget.value != "" %} value="{{ widget.value }}"{% endif %} data-target="#{{ widget.attrs.id }}time" {% include "django/forms/widgets/attrs.html" %}/>
  <div class="input-group-append" data-target="#{{ widget.attrs.id }}time" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="far fa-clock"></i></div>
  </div>
  </div>
