{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
  Talaba - {{ student.firstname }} - {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block head_title %}Talaba - {{ student.firstname }}{% endblock %}
{% block content %}
<h4>{{data}}</h4>



<div class="row">
    <div class="col-md-2">
        <a href="{% url 'dashboard:student-list' %}" class="fc-prev-button btn btn-primary"> Talabalar</a>
    </div>
</div>
<div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-body p-0">

                  <div class="responsive-table-plugin">
                           <table class="table table-striped mb-0">
                               <tbody>
                               <tr>
                                   <th>ID</th>
                                   <td>{{ student.id }}</td>
                               </tr>
                               <tr>
                                   <th>Ism</th>
                                   <td>{{ student.firstname }}</td>
                               </tr>
                               <tr>
                                   <th>Familiya</th>
                                   <td>{{ student.lastname }}</td>
                               </tr>
                               <tr>
                                   <th>Otasini ismi</th>
                                   <td>{{ student.middlename }}</td>
                               </tr>
                               <tr>
                                   <th>Jinsi</th>
                                   <td>{{ student.gender }}</td>
                               </tr>
                               <tr>
                                   <th>Passport</th>
                                   <td>{{ student.pass_serial }}</td>
                               </tr>
                               <tr>
                                   <th>Tug‘ilgan kun</th>
                                   <td>{{ student.birthday }}</td>
                               </tr>
                               <tr>
                                   <th>Viloyat/shahar</th>
                                   <td>{{ student.region }}</td>
                               </tr>
                               <tr>
                                   <th>Tuman</th>
                                   <td>{{ student.district }}</td>
                               </tr>
                               <tr>
                                   <th>Manzil</th>
                                   <td>{{ student.address }}</td>
                               </tr>
                               <tr>
                                   <th>Lavozim</th>
                                   <td>{{ student.position }}</td>
                               </tr>
                               <tr>
                                   <th>Telefon raqam</th>
                                   <td>{{ student.phone_number }}</td>
                               </tr>
                               <tr>
                                   <th>Email</th>
                                   <td>{{ student.email }}</td>
                               </tr>
                               <tr>
                                   <th>Ishga kelgan vaqt</th>
                                   <td>{{ student.join_date }}</td>
                               </tr>



                               </tbody>
                           </table>
                           <div class="card-footer clearfix">
                                <div class="float-left">
                                    <div class="btn-toolbar">
                                        <div class="timeline-footer">
                                                <a class="btn  btn-success btn-sm" href="{% url 'dashboard:student-edit' pk=student.pk %}"> <i class="fas fa-edit"></i> O‘zgartirish</a>
                                                <a class="btn btn-danger btn-sm" data-href="{% url 'dashboard:student-delete' pk=student.pk %}"><i class="fas fa-trash"></i> O‘chirish</a>
                                                <a class="btn btn-warning btn-sm"href="{% url 'dashboard:add-payment-group' pk=student.pk %}"><i class="fas fa-money-bill-alt"></i>To'lov</a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
             </div>
         </div>
     </div>
</div>
{% if groups %}
<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Talaba tahsil oladigan guruhlar</h3>
                <div class="card-tools">
              </div>

              </div>

              <!-- /.card-header -->
              <div class="card-body p-0">

                <table class="table">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Nomi</th>
                        <th>Dars boshlangan sana</th>
                        <th>Dars tamomlanadigan sana</th>
                        <th>Dars boshlandaigan vaqt</th>
                        <th>Dars tamomlanadigan vaqt</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in groups %}
                    <tr>
                      <td>{{ data.group_id }}</td>
                      <td>{{ data.name }}</td>
                      <td>{{ data.start_date }}</td>
                      <td>{{ data.end_date }}</td>
                      <td>{{ data.start_time }}</td>
                      <td>{{ data.end_time }}</td>


                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>

            </div>
            <!-- /.card -->

          </div>
</div>
{% endif %}
{% if payments %}
<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Kurs uchun to'lovlar tarixi</h3>
                <div class="card-tools">
              </div>

              </div>

              <!-- /.card-header -->
              <div class="card-body p-0">

                <table class="table">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>To'lov oyining boshi</th>
                        <th>To'lov oyining oxiri</th>
                        <th>To'lov miqdori</th>
                        <th>To'lov qilingan sana</th>
                        <th>To'lov qilingan guruh</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in payments %}
                    <tr>
                      <td>{{ data.id }}</td>
                      <td>{{ data.start_date }}</td>
                      <td>{{ data.end_date }}</td>
                      <td>{{ data.amount }}</td>
                      <td>{{ data.payment_date }}</td>
                      <td>{{ data.name }}</td>


                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>

            </div>
            <!-- /.card -->

          </div>
</div>
{% endif %}

{% endblock %}