{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
  {% if student.pk %}
    Talaba ma'lumotlari
  {% else %}
    Talaba malumotlarini chiqarish
  {% endif %}
{% endblock %}
{% block head_title %}
    {% if student.pk %}
        Talaba ma'lumotlari
    {% else %}
        Yangi talaba qo‘shish
    {% endif %}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form layout='inline' %}

                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.img %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            {% if student.pk %}
                              <button type="submit" class="btn btn-block btn-success btn-sm">
                                <i class="far fa-save"></i> Saqlash
                              </button>
                            {% else %}
                              <button type="submit" class="btn btn-primary">
                                <i class="fas fa-plus-circle"></i>Yuborish
                              </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}