{% extends "dashboard/base.html" %}
{% block title %}
  Kurs haqida ma'lumot - {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block head_title %}{{root.content.title_ru}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'dashboard:course-list' %}" class="fc-prev-button btn btn-primary"> <span class="fas fa-reply"></span>Kurslar ro'yhatiga o'tish</a>
    </div>
</div>
<div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-body p-0">

                  <div class="responsive-table-plugin">
                           <table class="table table-striped mb-0">
                               <tbody>
                               <tr>
                                   <th>ID</th>
                                   <td>{{ course.id }}</td>
                               </tr>
                               <tr>
                                   <th>Nomi</th>
                                   <td>{{ course.name }}</td>
                               </tr>
                               <tr>
                                   <th>Narxi</th>
                                   <td>{{ course.price }}</td>
                               </tr>

                               </tbody>
                           </table>
                           <div class="card-footer clearfix">
                                <div class="float-left">
                                    <div class="btn-toolbar">
                                        <div class="timeline-footer">
                                                <a data-toggle="tooltip" data-placement="top" title="edit" class="btn  btn-success btn-sm" href="{% url 'dashboard:course-edit' pk=course.id %}"> <i class="fas fa-edit"></i> O‘zgartirish</a>
                                                <a data-toggle="tooltip" data-placement="top" title="delete" class="btn btn-danger btn-sm" href="{% url 'dashboard:course-delete' pk=course.id %}"><i class="fas fa-trash"></i> O‘chirish</a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
             </div>
         </div>
     </div>
</div>
{% endblock %}