{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Kurslar ro‘yhati - {{ block.super }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Kurslar ro‘yhati</h3>
                <div class="card-tools">
                <a type="button" href="{% url 'dashboard:course-add' %}" class="btn btn-block btn-primary">Qo'shish<i class="fas fa-plus"></i></a>
              </div>

              </div>
                {% if courses %}
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Nomi </th>
                        <th>Narxi</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in courses %}
                    <tr>
                      <td>{{ data.id }}</a></td>
                      <td><a href="{% url 'dashboard:course-details' pk=data.id %}">{{ data.name }}</a></td>
                      <td>{{ data.price }}</td>
                      {% if data.active_status == 1 %}
                      <td><i class="btn btn-warning btn-sm">Faol emas</i></td>
                      {% elif data.active_status == 2 %}
                      <td><i class="btn btn-success btn-sm">Faol</i></td>
                      {% elif data.active_status == 3 %}
                      <td><i class="btn btn-success btn-sm">Mavjud emas</i></td>
                      {% else %}
                      <td><i class="btn btn-danger btn-sm">Yangi qo`shilmoqchi</i></td>
                      {% endif %}
                      <td>
                          <a href="{% url 'dashboard:course-edit' pk=data.id %}" data-toggle="tooltip" data-placement="top" title="edit" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                          <a href="{% url 'dashboard:course-details' pk=data.id %}" data-toggle="tooltip" data-placement="top" title="view detail" class="btn btn-info btn-sm"><i class="fas fa-user"></i></a>
                          <a href="javascript:void(0)"  data-toggle="modal"  data-placement="top" title="Delete" class="btn btn-danger btn-sm" data-url="{% url 'dashboard:course-delete' pk=data.id %}" data-target="#deleteItemModal" data-message="{{ data.name }} kursini o'chirishni tasdiqlaysizmi?"><i class="fa fa-trash-alt"></i></a>                        <td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>
{% endblock %}