{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
  {% if student.pk %}
    Talaba ma'lumotlari
  {% else %}
    Yangi talaba qo‘shish
  {% endif %}
{% endblock %}
{% block head_title %}
    {% if student.pk %}
        Talaba ma'lumotlari
    {% else %}
        Yangi talaba qo‘shish
    {% endif %}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form layout='inline' %}

                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <dif class="form-group">
                            <label for="id_member">Shaxs</label>
                            <select class="form-control select2"  name="member" title required id="id_member">
                                <option value selected>--------------</option>
                                 {% for data in students %}
                                <option value="{{data.id}}">{{data}}</option>
                                 {% endfor %}
                             </select>
                            </dif>
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.time_date %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.in_time %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.out_time %}
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            {% if student.pk %}
                              <button type="submit" class="btn btn-warning">
                                Saqlash
                              </button>
                            {% else %}
                              <button type="submit" class="btn btn-primary">
                                Qo‘shish
                              </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}