{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Talabalar {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Talabalar keldi ketdi malumotlari</h3>
                <div class="card-tools">
                <a type="button" href="{% url 'dashboard:times-add' %}" class="btn btn-block btn-primary">Qo‘shish<i class="fas fa-plus"></i></a>              </div>

              </div>
                {% if times %}
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Kun </th>
                        <th>Kelgan vaqti</th>
                        <th>Ketgan vaqti</th>
                        <th>Talaba nomeri</th>
                        <th>Ism familiya</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in times %}
                    <tr>
                      <td>{{ data.id }}</td>
                      <td>{{ data.time_date }}</td>
                      <td>{{ data.in_time }}</td>
                      <td>{{ data.out_time }}</td>
                      <td>{{ data.idd }}</td>
                      <td>{{ data.full_name }}</td>
                      <td>
                        <a data-toggle="tolltip" data-placement="top" title="edit" href="{% url 'dashboard:times-edit' pk=data.id %}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="delete" href="{% url 'dashboard:times-delete' pk=data.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>

{% endblock %}