{% load i18n %}
{% load dashboard_utils %}


{% if page_obj.paginator.num_pages > 1 %}
  <ul class="pagination pagination-sm m-0 float-right">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
      {% if page_obj.number|add:previous_section >= 1 %}
        <li class="page-item"><a class="page-link" href="{% construct_get_query page=page_obj.number|add:previous_section %}">&hellip;</a></li>
      {% elif page_obj.number|add:previous_section < 1 and page_obj.number|add:n_backward >= 1 %}
        <li class="page-item"><a class="page-link" href="?page=1">&hellip;</a></li>
      {% endif %}
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#!"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    {% endif %}

    {% for page in page_obj.paginator.page_range %}
      {% if page_obj.number == page %}
        <li class="page-item active"><a class="page-link" href="{% construct_get_query page=page %}">{{ page }}</a></li>
      {% elif page > page_obj.number|add:n_backward and page < page_obj.number|add:n_forward %}
        <li class="page-item"><a class="page-link" href="{% construct_get_query page=page %}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      {% if page_obj.number|add:next_section <= page_obj.paginator.num_pages %}
        <li class="page-item"><a class="page-link" href="{% construct_get_query page=page_obj.number|add:next_section %}">&hellip;</a></li>
      {% elif page_obj.number|add:next_section > page_obj.paginator.num_pages and page_obj.number|add:n_forward <= page_obj.paginator.num_pages %}
        <li class="page-item"><a class="page-link" href="{% construct_get_query page=page_obj.paginator.num_pages %}">&hellip;</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="{% construct_get_query page=page_obj.paginator.num_pages %}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#!"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    {% endif %}
  </ul>
{% endif %}
