{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Talabalar {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Talabalar</h3>
                <div class="card-tools">
              </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>Familiya, Ism </th>
                        <th>To'lov qilingan oy</th>
                        <th>To'lov miqdori</th>
                        <th>To'lov qilingan sana</th>
                        <th>To'lov turi</th>
                        <th>Guruh nomi</th>
                        <th>Kurs nomi</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in monitoring %}
                    <tr>
                      <td>{{ data.full_name }}</td>
                      <td>{{ data.payment_period}}</td>
                      <td>{{ data.amount }}</td>
                      {% if data.payment_date is None %}
                      <td><i class="fa fa-minus"></i></td>
                      {% else%}
                      <td>  {{ data.payment_date }}  </td>
                      {% endif %}
                      {% if data.payment_type == 1 %}
                      <td><i class="btn btn-success btn-sm"><i  aria-hidden="true"></i>Naqd</i></td>
                      {% elif data.payment_type == 2 %}
                      <td><i class="btn btn-danger btn-sm"><i class="fa fa-id-card"></i> Terminal</i></td>
                      {% elif data.payment_type == 3 %}
                      <td><i class="btn btn-warning btn-sm"><i class="fa fa-id-card"></i> Pul o'tkazish</i></td>
                      {% else %}
                      <td><i class="btn btn-primary btn-sm">Online</i></td>
                      {% endif %}
                      <td>{{ data.group_name }}</td>
                      <td>{{ data.course_name }}</td>
                      {% if data.status == 1 %}
                      <td><i class="btn btn-danger btn-sm">To'lanmagan</i></td>
                      {% elif data.status == 2 %}
                      <td><i class="btn btn-warning btn-sm">Qisman to'langan</i></td>
                      {% else %}
                      <td><i class="btn btn-success btn-sm">To'langan</i></td>
                      {% endif %}

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
            </div>
            <!-- /.card -->

          </div>
</div>
{% endblock %}