{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
  Guruh haqida ma'lumot - {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block head_title %}{{root.content.title_ru}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'dashboard:group-list' %}" class="fc-prev-button btn btn-primary"> <span class="fas fa-reply"></span>Guruhlar ro'yhatiga o'tish</a>
    </div>
</div>
<div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-body p-0">

                  <div class="responsive-table-plugin">
                           <table class="table table-striped mb-0">
                               <tbody>
                               <tr>
                                   <th>ID</th>
                                   <td>{{ group.id }}</td>
                               </tr>
                               <tr>
                                   <th>Nomi</th>
                                   <td>{{ group.name }}</td>
                               </tr>
                               <tr>
                                   <th>Boshlangan sanasi</th>
                                   <td>{{ group.start_date }}</td>
                               </tr>
                               <tr>
                                   <th>Boshlanish vaqti</th>
                                   <td>{{ group.start_time }}</td>
                               </tr>
                               <tr>
                                   <th>Tugash vaqti</th>
                                   <td>{{ group.end_time }}</td>
                               </tr>
                               <tr>
                                   <th>1 - O`qituvchi</th>
                                   <td>{{ group.teacher_1 }}</td>
                               </tr>
                               <tr>
                                   <th>2 - O`qituvchi</th>
                                   <td>{{ group.teacher_2 }}</td>
                               </tr>

                               </tbody>
                           </table>
                           <div class="card-footer clearfix">
                                <div class="float-left">
                                    <div class="btn-toolbar">
                                        <div class="timeline-footer">
                                                <a data-toggle="tooltip" data-placement="top" title="edit" class="btn  btn-success btn-sm" href="{% url 'dashboard:group-edit' pk=group.id %}"> <i class="fas fa-edit"></i> O‘zgartirish</a>
                                                <a data-toggle="tooltip" data-placement="top" title="delete" class="btn btn-danger btn-sm" href="{% url 'dashboard:group-delete' pk=group.id %}"><i class="fas fa-trash"></i> O‘chirish</a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
             </div>
         </div>
     </div>
</div>

<!--boshlandi-->

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Guruh to'lovi haqida malumot</h3>
<!--              <div class="card-tools">-->
<!--&lt;!&ndash;                <a type="button" href="#" class="btn btn-block btn-primary">Qo‘shish</a>&ndash;&gt;-->
<!--              </div>-->

              </div>
                {% if groupperiod %}
              <!-- /.card-header -->
              <div class="card-body p-0">

                <table class="table">
                   <thead>
                      <tr>
                        <th>Oyning Boshlanishi</th>
                        <th>Oyning tugashi</th>
                        <th>Kurs narxi</th>
                        <th>Nechinchi oy</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in groupperiod %}
                    <tr>
                      <td>
                          <a href="#">{{ data.start_date }}</a>
                      </td>
                      <td>
                          {{ data.end_date }}
                      </td>
                      <td>
                          {{ data.price }}
                      </td>
                      <td>
                          {{ data.order_month }}
                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>

<!--Guruh talabalari-->

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Guruh talabalari</h3>
                <div class="card-tools">
                <a type="button" href="{% url 'dashboard:add-student-group' pk=group.id %}" class="btn btn-block btn-primary">Qo‘shish</a>
              </div>

              </div>
                {% if students %}
              <!-- /.card-header -->
              <div class="card-body p-0">

                <table class="table">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Familiya, Ism </th>
                        <th>O'qishni boshlagan vaqti</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in students %}
                    <tr>
                      <td>
                       {{ data.member_id }}
                      </td>
                      <td>
                          <a href="{% url 'dashboard:student-details' pk=data.member_id %}">{{ data.full_name }}</a>
                      </td>
                      <td>
                          {{ data.start_date }}
                      </td>
                      {% if data.active_status == 1 %}
                      <td><i class="btn btn-warning btn-sm">Faol emas</i></td>
                      {% elif data.active_status == 2 %}
                      <td><i class="btn btn-success btn-sm">Faol</i></td>
                      {% elif data.active_status == 3 %}
                      <td><i class="btn btn-danger btn-sm">Mavjud emas</i></td>
                      {% else %}
                      <td><i class="btn btn-primary btn-sm">Yangi qo'shilmoqchi</i></td>
                      {% endif %}
                      <td>
                        <a data-toggle="tooltip" data-placement="top" title="edit" href="{% url 'dashboard:student-edit' pk=data.member_id %}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="view detail" href="{% url 'dashboard:student-details' pk=data.member_id %}" class="btn btn-info btn-sm"><i class="fas fa-user"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="delete" href="{% url 'dashboard:groupstudent-delete' pk=data.groupstudent_id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>

<h1>To'lovlar tarixi</h1>

<div class="margin">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">Oylar</button>
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      {% for data in groupperiod %}
                      <a class="dropdown-item" href="{% url 'dashboard:group-details-id' pk=data.id %}">{{data.start_date}}||{{data.end_date}}</a>
                      <div class="dropdown-divider"></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
<div class="row">
    <div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Talabalar</h3>
                <div class="card-tools">
              </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>Familiya, Ism </th>
                        <th>To'lov qilingan oy</th>
                        <th>To'lov miqdori</th>
                        <th>To'lov qilingan sana</th>
                        <th>To'lov turi</th>
                        <th>Guruh nomi</th>
                        <th>Kurs nomi</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in monitoring %}
                    <tr>
                      <td>{{ data.full_name }}</td>
                      <td>{{ data.payment_period}}</td>
                      <td>{{ data.amount }}</td>
                      {% if data.payment_date is None %}
                      <td><i class="fa fa-minus"></i></td>
                      {% else%}
                      <td>  {{ data.payment_date }}  </td>
                      {% endif %}
                      {% if data.payment_type == 1 %}
                      <td><i class="btn btn-success btn-sm"><i  aria-hidden="true"></i>Naqd</i></td>
                      {% elif data.payment_type == 2 %}
                      <td><i class="btn btn-danger btn-sm"><i class="fa fa-id-card"></i> Terminal</i></td>
                      {% elif data.payment_type == 3 %}
                      <td><i class="btn btn-warning btn-sm"><i class="fa fa-id-card"></i> Pul o'tkazish</i></td>
                      {% else %}
                      <td><i class="btn btn-primary btn-sm">Online</i></td>
                      {% endif %}
                      <td>{{ data.group_name }}</td>
                      <td>{{ data.course_name }}</td>
                      {% if data.status == 1 %}
                      <td><i class="btn btn-danger btn-sm">To'lanmagan</i></td>
                      {% elif data.status == 2 %}
                      <td><i class="btn btn-warning btn-sm">Qisman to'langan</i></td>
                      {% else %}
                      <td><i class="btn btn-success btn-sm">To'langan</i></td>
                      {% endif %}

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
            </div>
            <!-- /.card -->

          </div>
</div>
{% endblock %}