{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
  {% if group %}
    Guruh ma'lumotlarini o'zgartirish
  {% else %}
    Yangi guruh qo'shish
  {% endif %}
{% endblock %}
{% block head_title %}
    {% if group %}
    Guruh ma'lumotlarini o'zgartirish
  {% else %}
    Yangi guruh qo'shish
  {% endif %}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4">
                            {% bootstrap_field form.name %}
                        </div>

                        <div class="col-md-4">
                            {% bootstrap_field form.start_time %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.end_time %}
                        </div>

                        <div class="col-md-4">
                            <dif class="form-group">
                            <label for="id_teacher_1">1-O`qituvchi</label>
                            <select class="form-control select2"  name="teacher_1" title required id="id_teacher_1">
                                <option value selected>--------------</option>
                                 {% for data in member %}
                                <option value="{{data.id}}">{{data}}</option>
                                 {% endfor %}
                             </select>
                            </dif>
                        </div>
                        <div class="col-md-4">
                            <dif class="form-group">
                            <label for="id_teacher_2">2-O`qituvchi</label>
                            <select class="form-control select2"  name="teacher_2" title required id="id_teacher_2">
                                <option value selected>--------------</option>
                                 {% for data in member %}
                                <option value="{{data.id}}">{{data}}</option>
                                 {% endfor %}
                             </select>
                            </dif>
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.active_status %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            {% bootstrap_field form.start_date %}
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.end_date %}
                        </div>

                        <div class="col-md-6">
                            {% bootstrap_field form.period_type %}
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.price_month %}
                        </div>
                        <div class="col-md-6">
                            <dif class="form-group">
                            <label for="id_course">Kurs nomi</label>
                            <select class="form-control select2"  name="course" title required id="id_course">
                                <option value selected>--------------</option>
                                 {% for data in courses %}
                                <option value="{{data.id}}">{{data}}</option>
                                 {% endfor %}
                             </select>
                            </dif>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            {% if group %}
                              <button type="submit" class="btn btn-block btn-success btn-sm">
                                <i class="fas fa-edit"></i> Saqlash
                              </button>
                            {% else %}
                              <button type="submit" class="btn btn-primary">
                                <i class="fas fa-plus-circle"></i>Qo‘shish
                              </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'dashboard/plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

{% endblock %}