{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Guruhlar ro‘yhati - {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Guruhlar ro‘yhati</h3>
                <div class="card-tools">
                <a type="button" href="{% url 'dashboard:group-add' %}" class="btn btn-block btn-primary">Qo'shish<i class="fas fa-plus"></i></a>
              </div>

              </div>
                {% if group %}
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Nomi </th>
                        <th>Boshlanish sanasi</th>
                        <th>Tugash sanasi</th>
                        <th>Boshlanish vaqti</th>
                        <th>Tugash vaqti</th>
                        <th>1 - O`qituvchi</th>
                        <th>2 - O`qituvchi</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in group %}
                    <tr>
                      <td>
                        {{ data.group_id }}
                      </td>
                      <td><a href="{% url 'dashboard:group-details' pk=data.group_id %}">{{ data.name }}</a></td>
                      <td>{{ data.start_date }}</td>
                      <td>{{ data.end_date }}</td>
                      <td>{{ data.start_time }}</td>
                      <td>{{ data.end_time }}</td>
                      <td>{{ data.teacher_1 }}</td>
                      <td>{{ data.teacher_2 }}</td>
                      {% if data.active_status == 1 %}
                      <td><i class="btn btn-warning btn-sm">Faol emas</i></td>
                      {% elif data.active_status == 2 %}
                      <td><i class="btn btn-success btn-sm">Faol</i></td>
                      {% elif data.active_status == 3 %}
                      <td><i class="btn btn-success btn-sm">Mavjud emas</i></td>
                      {% else %}
                      <td><i class="btn btn-danger btn-sm">Yangi qo`shilmoqchi</i></td>
                      {% endif %}
                      <td>
                          <a data-toggle="tooltip" data-placement="top" title="edit" href="{% url 'dashboard:group-edit' pk=data.group_id %}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                          <a data-toggle="tooltip" data-placement="top" title="view detail" href="{% url 'dashboard:group-details' pk=data.group_id %}" class="btn btn-info btn-sm"><i class="fas fa-user"></i></a>
                          <a href="javascript:void(0)"  data-toggle="modal"  data-placement="top" title="Delete" class="btn btn-danger btn-sm" data-url="{% url 'dashboard:group-delete' pk=data.group_id %}" data-target="#deleteItemModal" data-message="{{ data.name }} guruhini o'chirishni tasdiqlaysizmi?"><i class="fa fa-trash-alt"></i></a>                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>
{% endblock %}