{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
  {% if group %}
    Guruh o'quvchilarini ma'lumotlarini o'zgartirish
  {% else %}
    Guruhga yangi o'quvchi qo'shish
  {% endif %}
{% endblock %}
{% block head_title %}
    {% if except %}
        <h3 style="background-color: red">Bunday o'quvchi allaqachon bor</h3>
    {% elif group %}
        Guruh o'quvchilarini ma'lumotlarini o'zgartirish
    {% else %}
        Guruhga yangi o'quvchi qo'shish
    {% endif %}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4">
                            <dif class="form-group">
                            <label for="student">Talaba</label>
                            <select class="form-control select2"  name="student" title required id="student">
                                <option value selected>--------------</option>
                                 {% for data in students %}
                                <option value="{{data.id}}">{{data}}</option>
                                 {% endfor %}
                             </select>
                            </dif>
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.start_date %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.end_date %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.active_status %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.price_group %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            {% if group %}
                              <button type="submit" class="btn btn-block btn-success btn-sm">
                                <i class="fas fa-edit"></i> Saqlash
                              </button>
                            {% else %}
                              <button type="submit" class="btn btn-primary">
                                <i class="fas fa-plus-circle"></i>Qo‘shish
                              </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}