{% extends "dashboard/base.html" %}
{% block title %}
  Kompaniya ma'lumotlari
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
Kompaniya ma'lumotlari
{% block content %}

<div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-body p-0">

                  <div class="responsive-table-plugin">
                           <table class="table table-striped mb-0">
                               <tbody>
                               <tr>
                                   <th>Tashkilot nomi</th>
                                   {% if company_model.title == None %}
                                   <td>--</td>
                                   {% else %}
                                   <td>{{ company_model.title }}</td>
                                   {% endif%}
                               </tr>
                               <tr>
                                   <th>Email</th>
                                   {% if company_model.email == None %}
                                   <td>--</td>
                                   {% else %}
                                   <td>{{ company_model.email }}</td>
                                   {% endif%}
                               </tr>
                               <tr>
                                   <th>Telefon raqam</th>
                                   {% if company_model.phone_number == None %}
                                   <td>--</td>
                                   {% else %}
                                   <td>{{ company_model.phone_number }}</td>
                                   {% endif%}
                               </tr>
                               <tr>
                                   <th>Qo‘shimcha ma'lumot</th>
                                   {% if company_model.description == None %}
                                   <td>--</td>
                                   {% else %}
                                   <td>{{ company_model.description }}</td>
                                   {% endif%}
                               </tr>
                               <tr>
                                   <th>Viloyat/shahar</th>
                                   {% if company_model.region == None %}
                                   <td>--</td>
                                   {% else %}
                                   <td>{{ company_model.region }}</td>
                                   {% endif%}
                               </tr>
                               <tr>
                                   <th>Tuman</th>
                                   {% if company_model.district == None %}
                                   <td>--</td>
                                   {% else %}
                                   <td>{{ company_model.district }}</td>
                                   {% endif%}
                               </tr>

                               </tbody>
                           </table>
                           <div class="card-footer clearfix">
                                <div class="float-left">
                                    <div class="btn-toolbar">
                                        <div class="btn-group focus-btn-group">
                                            <a class="btn btn-warning" href="{% url 'dashboard:company-edit'%}">O‘zgartirish</a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
             </div>
         </div>
     </div>
</div>
{% endblock %}