{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
Kompaniya profili
{% endblock %}
{% block head_title %}
    Kompaniya Profile
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="card-body">

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            {% bootstrap_field form.title %}
                            {% bootstrap_field form.description %}
                        </div>
                        <div class="form-group col-md-6">
                            {% bootstrap_field form.email %}
                            {% bootstrap_field form.phone_number %}
                        </div>
                        <div class="form-group col-md-6">
                            {% bootstrap_field form.region %}
                            {% bootstrap_field form.district %}
                        </div>

                        <div class="form-group col-md-6">
                            {% bootstrap_field form.address %}
                        </div>

                    </div>




                    <div class="form-row">
                        <div class="card-action right-align">
                              <button type="submit" class="btn btn-block btn-success btn-sm">
                                <i class="fas fa-edit"></i> Saqlash
                              </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}