{% extends "dashboard/base.html" %}
{% block title %}
  {{ position.title }} - {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block head_title %}{{root.content.title_ru}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'dashboard:position-list' %}" class="fc-prev-button btn btn-primary"> <span class="fas fa-reply"></span>Back to Positions</a>
    </div>
</div>
<div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-body p-0">

                  <div class="responsive-table-plugin">
                           <table class="table table-striped mb-0">
                               <tbody>
                               <tr>
                                   <th>ID</th>
                                   <td>{{ position.id }}</td>
                               </tr>
                               <tr>
                                   <th>Name</th>
                                   <td>{{ position.title }}</td>
                               </tr>
                               <tr>
                                   <th>Alias</th>
                                   <td>{{ position.status }}</td>
                               </tr>

                               </tbody>
                           </table>
                           <div class="card-footer clearfix">
                                <div class="float-left">
                                    <div class="btn-toolbar">
                                        <div class="timeline-footer">
                                                <a class="btn  btn-success btn-sm" href="{% url 'dashboard:position-edit' pk=position.pk %}"> <i class="fas fa-edit"></i> O‘zgartirish</a>
                                                <a class="btn btn-danger btn-sm" href="{% url 'dashboard:position-delete' pk=position.pk %}"><i class="fas fa-trash"></i> O‘chirish</a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
             </div>
         </div>
     </div>
</div>
{% endblock %}