{% extends "dashboard/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
  {% if profession.pk %}
    {{ profession }} - Панель управления
  {% else %}
    Добавить Professions - Profession - Панель управления
  {% endif %}
{% endblock %}
{% block head_title %}
    {% if profession.pk %}
        {{ profession }} - Панель управления
    {% else %}
        Добавить Profession
    {% endif %}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            {% bootstrap_field form.title %}
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.status %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            {% if position.pk %}
                              <button type="submit" class="btn btn-block btn-success btn-sm">
                                <i class="fas fa-edit"></i> Saqlash
                              </button>
                            {% else %}
                              <button type="submit" class="btn btn-primary">
                                <i class="fas fa-plus-circle"></i>Qo‘shish
                              </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}