{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
  Talaba - {{ student.firstname }} - {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}

{% block content %}


<style>
  .prints {
    display: none;
  }
</style>

<div class="container">
    <div class="main-body">

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard:student-list' %}" class="btn  btn-primary btn-sm"> Talabalar</a></li>
              <li class="breadcrumb-item active" aria-current="page">Talaba - {{ student.firstname }} {{ student.lastname }}</li>
              <li class="breadcrumb-item active" aria-current="page">
                 <a class="btn  btn-success btn-sm" href="{% url 'dashboard:student-edit' pk=student.pk %}"> <i class="fas fa-edit"></i> O‘zgartirish</a>
                  <a class="btn btn-danger btn-sm" href="{% url 'dashboard:student-delete' pk=student.pk %}"><i class="fas fa-trash"></i> O‘chirish</a>
                  <a class="btn btn-warning btn-sm"href="{% url 'dashboard:add-payment-group' pk=student.pk %}"><i class="fas fa-money-bill-alt"></i>To'lov</a>
              </li>

            </ol>

          </nav>
          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">ID</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.id }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Ism</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.firstname }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Familiya</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.lastname }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Otasining ismi</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.middlename }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Telefon raqam</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.phone_number }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Tug'ilgan kuni</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.birthday }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--            Ikkinchi ustun-->
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Passport</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.pass_serial }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Jinsi</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% if student.gender == True %}
                        Erkak
                        {% else %}
                        Ayol
                        {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Viloyat/shahar</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.region }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><th>Tuman</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.district }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">O'qishga kelgan vaqt</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ student.join_date }}
                    </div>
                  </div>


                  </div>
                </div>
              </div>
            </div>
            </div>
    </div>






{% if groups %}
<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Talaba tahsil oladigan guruhlar</h3>
                <div class="card-tools">
              </div>

              </div>

              <!-- /.card-header -->
              <div class="card-body p-0">

                <table class="table">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Nomi</th>
                        <th>Dars boshlangan sana</th>
                        <th>Dars tamomlanadigan sana</th>
                        <th>Dars boshlandaigan vaqt</th>
                        <th>Dars tamomlanadigan vaqt</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in groups %}
                    <tr>
                      <td>{{ data.group_id }}</td>
                      <td>{{ data.name }}</td>
                      <td>{{ data.start_date }}</td>
                      <td>{{ data.end_date }}</td>
                      <td>{{ data.start_time }}</td>
                      <td>{{ data.end_time }}</td>


                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>

            </div>
            <!-- /.card -->

          </div>
</div>
{% endif %}
{% if payments %}

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Kurs uchun to'lovlar tarixi</h3>
                <div class="card-tools">
              </div>

              </div>

              <!-- /.card-header -->
              <div class="card-body p-0">

                <table class="table">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>To'lov oyining boshi</th>
                        <th>To'lov oyining oxiri</th>
                        <th>To'lov miqdori</th>
                        <th>To'lov qilingan sana</th>
                        <th>To'lov qilingan guruh</th>
                        <th>To'lovni pechat qilish</th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in payments %}
                    <tr>
                      <td>{{ data.id }}</td>
                      <td>{{ data.start_date }}</td>
                      <td>{{ data.end_date }}</td>
                      <td>{{ data.amount }}</td>
                      <td>{{ data.payment_date }}</td>
                      <td>{{ data.name }}</td>
                      <td><form>
                      <button type="button" class="btn-success Print btn-sm" name="check" id="{{data.id}}"><i class="fa fa-print" aria-hidden="true"></i>
                  Print</button></form></td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>

            </div>
            <!-- /.card -->

          </div>
</div>

{% endif %}
<div class="prints" id="container">

</div>


{% endblock %}
