{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Talabalar {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}

<form action="{% url 'dashboard:student-list-search' %}" method="post">
    {% csrf_token %}
    <div class="card-tools" style="height: 40px;">
                  <div class="input-group input-group-sm" style="width: 500px;">

                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
</form>

<div class="row">
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Talabalar</h3>
                <div class="card-tools">
                <a type="button" href="{% url 'dashboard:student-add' %}" class="btn btn-block btn-primary">Qo‘shish</a>
              </div>

              </div>
                {% if students %}
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Familiya, Ism </th>
                        <th>Region </th>
                        <th>Actions </th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in students %}
                    <tr>
                      <td>{{ data.id }}</td>
                      <td><a href="{% url 'dashboard:student-details' pk=data.id %}">{{ data.full_name }}</a></td>
                      {% if data.region_name is None %}
                      <td><i class="fa fa-minus"></i></td>
                      {% else%}
                      <td>  {{ data.region_name }}  </td>
                      {% endif %}
                      <td>
                          <a href="{% url 'dashboard:student-edit' pk=data.id %}" data-toggle="tooltip" data-placement="top" title="edit"  class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                          <a href="{% url 'dashboard:student-details' pk=data.id %}" data-toggle="tooltip" data-placement="top" title="View detail" class="btn btn-info btn-sm"><i class="fas fa-user"></i></a>
                          <a href="{% url 'dashboard:qrcode_generator' pk=data.id %}" target="_blank" data-toggle="tooltip" data-placement="top" title="QR Code downloader" class="btn btn-primary btn-sm"><i class="fa fa-download" aria-hidden="true"></i></a>
                          <a href="javascript:void(0)"  data-toggle="modal"  data-placement="top" title="Delete" class="btn btn-danger btn-sm" data-url="{% url 'dashboard:student-delete' pk=data.id %}" data-target="#deleteItemModal" data-message="{{ data.full_name }} ismli talabani o'chirishni tasdiqlaysizmi?"><i class="fa fa-trash-alt"></i></a>
                          <a class="btn btn-warning btn-sm"href="{% url 'dashboard:add-payment-group' pk=data.id %}"><i class="fas fa-money-bill-alt"></i>To'lov</a>

                      </td>

                    </tr>
                  {% endfor %}


                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>



{% endblock %}
