{% extends "dashboard/base.html" %}
{% load dashboard_utils %}
{% block title %}
    Talabalar  {{ block.super }}
{% endblock %}
{% block menu_categories_class %}menu-open{% endblock %}
{% block content %}
<div class="margin">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">Kurslar</button>
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      {% for data in courses %}
                      <a class="dropdown-item" href="{% url 'dashboard:course-student-list' pk=data.id %}">{{data.name}}</a>
                      <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
<div class="row">

    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Talabalar</h3>
                <div class="card-tools">
                <a type="button" href="{% url 'dashboard:student-add' %}" class="btn btn-block btn-primary">Qo‘shish</a>
              </div>

              </div>
                {% if students %}
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap">
                   <thead>
                      <tr>
                        <th>id</th>
                        <th>Familiya, Ism </th>
                        <th>Telefon nomer </th>
                        <th>Region </th>
                        <th>Gruppa nomi</th>
                        <th>Actions </th>
                      </tr>
                    </thead>
                  <tbody>
                  {% for data in students %}
                    <tr>
                      <td>{{ data.id }}</td>
                      <td>{{ data.full_name }}</td>
                      <td>{{ data.phone_number }}</td>
                      {% if data.region_name is None %}
                      <td><i class="fa fa-minus"></i></td>
                      {% else%}
                      <td>  {{ data.region_name }}  </td>
                      {% endif %}
                      <td>{{ data.group_name }}</td>
                      <td>
                          <a href="{% url 'dashboard:student-edit' pk=data.id %}" data-toggle="tooltip" data-placement="top" title="edit"  class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                          <a href="{% url 'dashboard:student-details' pk=data.id %}" data-toggle="tooltip" data-placement="top" title="View detail" class="btn btn-info btn-sm"><i class="fas fa-user"></i></a>
                          <a href="{% url 'dashboard:qrcode_generator' pk=data.id %}" target="_blank" data-toggle="tooltip" data-placement="top" title="QR Code downloader" class="btn btn-primary btn-sm"><i class="fa fa-download" aria-hidden="true"></i></a>
                          <a href="{% url 'dashboard:student-delete' pk=data.id %}" data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>

                      </td>

                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
                  {% paginate list %}

              </div>
              <!-- /.card-body -->
                <div class="card-footer clearfix">
                {% paginate list %}
              </div>
                {% endif %}
            </div>
            <!-- /.card -->

          </div>
</div>


{% endblock %}
