 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
 <body>
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <h1 style="text-align: center;">Kvitansiya</h1>
  </nav>
 {% for payment in payments %}
 <div class="col-sm-12 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">To'lovchining ism, familiyasi:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {{ payment.full_name }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">O'qituvchi:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {{ payment.teacher_name }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">Kurs:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {{ payment.course_name }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">Guruh:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {{ payment.group_name }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">To'lov qilingan oy:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {{ payment.start_date }} dan {{ payment.end_date }} gacha
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">To'lov miqdori:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {% if payment.amount %}
            {{ payment.amount }}
            {% else %}
            0
            {% endif %}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">To'lov turi:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {% if payment.payment_type == 1 %}
            Naqd
            {% elif payments.payment_type == 2 %}
            Terminal
            {% elif payments.payment_type == 3 %}
            Pul o'tkazish
            {% else %}
            Online
            {% endif %}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">To'lov qilingan sana va vaqt:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
            {{ payment.payment_date }} , {{ payment.payment_time }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="mb-0">To'lov qiluvchining imzosi:</h6>
          </div>
          <div class="col-sm-6">
            <h6 class="mb-0">Kassirning imzosi:</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% endfor %}
</body>
</html>